nav {
    background-color: rgb(255, 255, 255);
    padding: 1rem;

}

body {
    background-color: rgb(204, 68, 68);

}


ul {
    display: flex;
    list-style-type: none;
    justify-content:space-between
    

}

footer {
    background-color: #ff0202;
    color: #ffffff;
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
}



a {
    margin: 0% 2rem;
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    border-color: #0069d9;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.card h3 {
    border: 2px solid white;
    /* Cambiar el color del borde del h3 */

}

.card p {
    font-size: 16px;
    margin-top: 5px;
    text-decoration: #e8edf3;
}

.card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0069d9;
}

.logo-de-river {
    width: 5rem;
    margin: 0%;
    padding: 0%;
    justify-content: left;
}